---
---

@import "minima";

body {
	background-color: #333;
	color: #ddd;
}

a, a:hover, a:visited {
	color: #2a7ae2;
}

.site-nav .page-link {
	color: #eee;
}

.site-title, .site-title:visited {
	color: #eee;
}

