---
---

@import "minima";

body {
	background-color: #101018;
	color: #ddd;
}

a, a:hover, a:visited {
	color: #2a7ae2;
}

.site-header {
	border-bottom: none;

	div.wrapper {
		background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/header.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		height: 200px;
	}
}

.site-footer {
	border-top: none;
}

.site-nav {
	.page-link {
		color: #eee;
		margin-right: 10px;
	}
	background-color: #777;
}

.site-title, .site-title:hover, .site-title:visited {
	color: #eee;
	margin-left: 10px;
}

.wrapper {
	padding-left: 0;
	padding-right: 0;
}

